// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#flash_notice{
 background: red;
  border: 1px solid darken(red, 20);
  padding: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
}